body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#9EB090;
}

header {
    text-align: center;
    text-justify: auto;
    background-color: #849B72;
    color: #fff;
    padding: 20px; 
}

section {
    text-align: center;

    background-color:#9EB090;
    color: #fff;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #849B72;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


